<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Teasermenu" />

<f:section name="Main">
	<f:if condition="{data.teasermenuitems} > 0">
		<f:if condition="{menuItems -> f:count()} > 0">
			<div class="teasermenu">
				<f:for each="{menuItems}" as="item" iteration="i">
					<f:switch expression="{item.data.type}">
						<f:case value="0">
							<f:render section="ItemDefault" arguments="{contentElement: data, item: item, iterator: i}" />
						</f:case>
						<f:case value="1">
							<f:render section="ItemSpacer" arguments="{contentElement: data, item: item, iterator: i}" />
						</f:case>
						<f:case value="default">
							<f:render section="ItemDefault" arguments="{contentElement: data, item: item, iterator: i}" />
						</f:case>
					</f:switch>
				</f:for>
			</div>
		</f:if>
	</f:if>
</f:section>

<f:section name="ItemDefault">
	<div class="teasermenu-item teasermenu-item--layout-{item.data.layout}">Default item
		<f:if condition="{item.image -> f:count()} > 0">
			<f:for each="{item.image}" as="image">
				<i>with image: <f:uri.image src="{image.uid}" treatIdAsReference="true" /></i>
			</f:for>
		</f:if>
		{_all -> f:debug(inline:1)}
	</div>
</f:section>

<f:section name="ItemSpacer">
	<div class="teasermenu-item teasermenu-item--layout-{item.data.layout}">Spacer item</div>
	<f:if condition="{item.image -> f:count()} > 0">
		<f:for each="{item.image}" as="image">
			<i>with image: <f:uri.image src="{image.uid}" treatIdAsReference="true" /></i>
		</f:for>
	</f:if>
	{_all -> f:debug(inline:1)}
</f:section>
</html>
